#heroImage {
  width:100%;
  height:650px;
  color:#f8f8f8;
  background-image: url(../img/daytimeMada.jpeg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#mainTitle {
  padding: 30px;
  display: flex;
  align-items: center;
  margin-bottom: 200px;
}

#profileImage {
  background-image: url(../img/profile.jpeg);
  width: 140px;
  height: 140px;
  border-radius: 50%;
  border: 2px solid black;
  background-position: 56% 25%;
  background-size: 180%;
}

#aboutBody {
  padding:50px;
  display: flex;
  justify-content: space-around;
}

#projectsBody {
  padding: 50px;
}

#cardHolder {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#footer {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;

}

.card > h4 {
  margin-top: 0px;
  text-align: center;
}

.cardImg {
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 220px;
  border: 2px solid black;
  margin-top: 20px;
  margin-bottom: 10px;
}

.cardDescription {

}

@media(max-width:1024px) {
  #aboutBody {
    flex-direction: column;
    align-items: center;
  }
  #mainTitle {
    padding:10px;
  }
  #titleText {
    padding-left:20px;
  }
  #profileImage {
    height:100px;
    width:100px;
  }
}
